/*********************
NAVIGATION STYLES
*********************/

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #777;
  color: $white;
  .menu-item {
    a {
      display: inline-block;
      padding: 1rem 0.5rem;
      color: inherit;
      width: 100%;
      &:hover {
        background-color: $white;
        color: $black;
      }
    }
    &.menu-item-has-children {
      position: relative;
      &:hover {
        .sub-menu {
          z-index: 3;
          opacity: 1;
        }
      }
    }
    .sub-menu {
      display: block;
      opacity: 0;
      z-index: -1;
      position: absolute;
      background-color: $black;
      min-width: 250px;
      margin-top: 0;
      transition: all 0.4s ease;
    }
  }
}
