.weather {
  font-family: "Montserrat", sans-serif;
  background-image: url("/wp-content/uploads/2020/04/cold-bg.jpg");
  background-size: cover;
  background-position: bottom;
  transition: all 0.4s ease-in-out;
  border-radius: 16px;
  height: 100%;

  &__container {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.75)
    );
    height: 100%;
    padding: 25px;
    border-radius: 16px;
  }

  &__search {
    width: 100%;
    margin: 0 0 75px;

    .weather__input {
      display: block;
      width: 100%;
      padding: 15px;

      background: none;
      border: none;
      outline: none;

      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 0 0 16px 16px;
      margin-top: -25px;

      box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
      transition: 0.4s ease;
      &:focus {
        background-color: rgba(255, 255, 255, 0.75);
      }
    }
  }

  &__location-box {
    .location {
      color: $white;
      font-size: 32px;
      font-weight: 500;
      text-align: center;
      text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
    }
    .date {
      color: $white;
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
      text-align: center;
      text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
    }
  }

  &__box {
    text-align: center;
    .temp {
      position: relative;
      display: inline-block;
      margin: 30px auto;
      background-color: rgba(255, 255, 255, 0.2);
      padding: 15px 25px;
      border-radius: 16px;
      color: $white;
      font-size: 102px;
      font-weight: 700;
      text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
      box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
    }
    .status {
      color: $white;
      font-size: 48px;
      font-weight: 700;
      text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
    }
  }

  .error {
    color: #721c24;
    background-color: #f8d7da;
    border-radius: 16px;
    padding: 10px;
    margin: 1.5rem 0;
    font-weight: 700;
  }
}

.weather.warm {
  background-image: url("/wp-content/uploads/2020/04/warm-bg.jpg");
}
