.gform_wrapper {
  .gform_body {
    .gform_fields {
      .gfield {
        padding-right: 0;
      }
      input,
      textarea,
      select {
        border: 2px solid $white;
        background-color: $white;
        width: 100% !important;
        margin-left: auto;
        border-radius: 5px;
        @include breakpoint("phablet") {
          max-width: 600px;
        }
      }
      label {
        color: $white;
      }
    }
  }

  .gform_footer {
    input[type="submit"].gform_button {
      background-color: transparent;
      color: $white;
      border: 2px solid $white;
      border-radius: 5px;
      padding: 0.8rem 0;
      font-weight: bold;
      .contact-page & {
        width: 100% !important;
        font-size: 20px !important;
        @include breakpoint("phablet") {
          max-width: 600px;
        }
      }
      &:hover {
        background-color: $white;
        color: $primary;
      }
    }
  }
}
