.grid-2 {
  display: grid;
  grid-template-columns: 1fr;
  @include breakpoint("tablet") {
    grid-template-columns: 1fr 1fr;
  }
  @include breakpoint("desktop") {
    grid-template-columns: 1.5fr 1fr;
  }
}
