/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
  width: 96%;
  margin: 0 auto;
}

.large-wrapper {
  width: 96%;
  margin: 0 auto;
  padding: 1.5em 1.5em 0;
}

// 404 page
.error404 {
  #inner-content {
    text-align: center;
    margin-bottom: 1rem;
  }
  a {
    color: $secondary;
    text-decoration: underline;
  }
}

/*********************
  LINK STYLES
  *********************/

a {
  color: $primary;
  text-decoration: none;
  &:visited {
    text-decoration: none;
    /* on click */
  }
  &:active,
  &:hover {
    text-decoration: none;
  }
  /* mobile tap color */
  &:link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  }
}

/******************************************************************
  H1, H2, H3, H4, H5 STYLES
  ******************************************************************/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  text-rendering: optimizelegibility;
  font-weight: 500;
  a,
  a:hover {
    text-decoration: none;
  }
}

h1,
.h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}

h2,
.h2 {
  .page-id-18 .entry-content & {
    font-size: 30px;
    line-height: 1.4em;
    margin-bottom: 0.375em;
    color: $secondary;
    text-transform: capitalize;
    font-weight: bold;
    position: relative;
    padding-bottom: 1rem;
    @include breakpoint("phablet") {
      font-size: 35px;
    }

    &:after {
      position: absolute;
      content: "";
      background-color: $secondary;
      bottom: 0;
      left: 0;
      width: 250px;
      max-width: 100%;
      height: 3px;
    }
  }
}

h3,
.h3 {
  font-size: 1.125em;
}

h4,
.h4 {
  font-size: 1.1em;
  font-weight: 700;
}

h5,
.h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
  .home & {
    margin-top: 1.5em;
    background: none;
  }
  background-color: $darkBg;

  .gray-scale {
    img {
      filter: grayscale(1);
    }
  }
}

.hentry {
  background-color: transparent;
  header {
    padding: 1.5em;
  }
  footer {
    padding: 1.5em;
    p {
      margin: 0;
    }
  }
}

/* end .hentry */

.single-title,
.page-title,
.entry-title {
  margin: 0;
}

/* entry content */

.entry-content {
  .page-id-18 & {
    max-width: 1500px;
    width: 85%;
    margin: auto;
  }
  p {
    margin: 0.5rem 0;
  }
  ul {
    li {
      list-style: disc;
      margin-left: 2em;
    }
  }
  ol {
    li {
      list-style: decimal;
      margin-left: 2em;
    }
  }
  img {
    margin: 0 0 1.5em 0;
    max-width: 100%;
    height: auto;
  }
  .size-thumbnail {
    max-width: 100%;
    height: auto;
  }
}

/* end .entry-content */

// the tag output
.tags {
  margin: 0;
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
  margin: 1.5em 0;
}

.pagination {
  text-align: center;
  ul {
    display: inline-block;
    background-color: $white;
    white-space: nowrap;
    padding: 0;
    clear: both;
    border-radius: 3px;
  }
  li {
    padding: 0;
    margin: 0;
    float: left;
    display: inline;
    overflow: hidden;
    border-right: 1px solid $gray;
  }
  a,
  span {
    margin: 0;
    text-decoration: none;
    padding: 0;
    line-height: 1em;
    font-size: 1em;
    font-weight: normal;
    padding: 0.75em;
    min-width: 1em;
    display: block;
    color: $primary;
    &:hover,
    &:focus {
      background-color: $primary;
      color: $white;
    }
  }
  .current {
    cursor: default;
    color: $text-color;
    &:hover,
    &:focus {
      background-color: $white;
      color: $text-color;
    }
  }
}

/* end .bones_page_navi */

/* fallback previous & next links */

.wp-prev-next {
  .prev-link {
    float: left;
  }
  .next-link {
    float: right;
  }
}

/* end .wp-prev-next */

/*********** Pre-defined styles from bones stock them above ***************/

/****************************
Global Section
****************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  &.mobile-menu-open {
    overflow: hidden;
  }
}

body {
  font-family: $mont;
  line-height: 1.5;
  color: $black;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    border: 2px solid $black;
    color: $black;
  }
  input[type="submit"] {
    background-color: $black;
    color: $white;
    border: 2px solid $black;
    border-radius: 5px;
    padding: 0.5em 1em;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: transparent;
      color: $black;
    }
  }
  &.menu-open {
    #logo {
      position: fixed;
      z-index: 99;
    }
  }
  &.mobile-menu-open {
    overflow: hidden;
  }
}

// Content
p {
  font-size: 16px;
}

// Hero

.title {
  font-size: 35px;
  @include breakpoint("phablet") {
    font-size: 45px;
  }
  @include breakpoint("tablet") {
    font-size: 55px;
  }
  @include breakpoint("desktop") {
    font-size: 60px;
  }
}

.subtitle {
  font-size: 25px;
  font-family: $roboto;
  @include breakpoint("phablet") {
    font-size: 30px;
  }
  @include breakpoint("tablet") {
    font-size: 35px;
  }
}

.cta {
  font-size: 18px;
  border: 2px solid $white;
  color: $white;
  border-radius: 2px;
  text-transform: capitalize;
  transition: all 0.4s ease;
  a {
    display: inline-block;
    color: inherit;
    padding: 0.5rem 2rem;
    transition: all 0.4s ease;
    text-decoration: none;
    font-weight: bold;
    &:hover,
    &:active {
      background-color: $white;
      color: $primary;
    }
  }
  &:hover,
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  }
}

/*************************************
// Blocks
*************************************/
.block-title,
h2.title {
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  color: $secondary;
  text-align: center;
  span {
    position: relative;
    padding-bottom: 0.8rem;
    &:after {
      position: absolute;
      content: "";
      background-color: $secondary;
      height: 3px;
      width: 80%;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  @include breakpoint("phablet") {
    font-size: 40px;
  }
  @include breakpoint("tablet") {
    font-size: 45px;
  }
  @include breakpoint("desktop") {
    font-size: 50px;
  }
}

// media block
.wp-block-media-text {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  @include breakpoint("phablet") {
    grid-template-columns: 50% 1fr;
  }
  @include breakpoint("2k") {
    max-height: $mtHeight;
  }
  .wp-block-media-text__media {
    grid-column: auto;
    grid-row: auto;
    height: 100%;
    @include breakpoint("2k") {
      max-height: $mtHeight;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .wp-block-media-text__content {
    background-color: $primary;
    color: $white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
    grid-row: 2;
    grid-column: auto;
    h2,
    h3 {
      font-size: 30px;
      font-weight: bold;
      @include breakpoint("phablet") {
        font-size: 35px;
      }
      @include breakpoint("tablet") {
        font-size: 40px;
      }
      @include breakpoint("2k") {
        font-size: 45px;
      }
    }
    p {
      font-size: 16px;
      @include breakpoint("2k") {
        font-size: 18px;
      }
    }
    @include breakpoint("phablet") {
      grid-row: auto;
    }
    @include breakpoint("2k") {
      max-height: $mtHeight;
    }
  }
  &.has-media-on-the-right {
    .wp-block-media-text__content {
      background-color: $secondary;
      grid-column: auto;
      grid-row: 2;
      @include breakpoint("phablet") {
        grid-row: 1;
      }
    }
    .wp-block-media-text__media {
      grid-column: auto;
      grid-row: auto;
    }
    .wp-block-button__link {
      &:hover {
        color: $secondary;
      }
    }
  }
  .wp-block-button__link {
    display: inline-block;
    background-color: transparent;
    color: $white;
    border: 2px solid $white;
    border-radius: 2px;
    margin-top: 1rem;
    text-transform: capitalize;
    padding: 0.5rem 3rem;
    font-weight: bold;
    transition: all 0.4s ease;
    &:hover {
      background-color: $white;
      color: $primary;
    }
  }
}

// Group block
.wp-block-group {
  padding: 1rem;
  &.entry-p {
    max-width: 1500px;
    width: 85%;
    margin: auto;
  }
  &.btn-group {
    width: 100%;
    margin: 1rem 0;
    .wp-block-group__inner-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      @include breakpoint("phablet") {
        flex-wrap: nowrap;
      }
    }

    .wp-block-button {
      margin: 0.5rem 1rem;
      .wp-block-button__link {
        background-color: $primary;
        color: $white;
        border-radius: 0;
        width: 280px;
        max-width: 350px;
        text-transform: capitalize;
        font-weight: bold;
        padding: 0.7rem 3rem;
        border: 2px solid $primary;
        transition: all 0.4s ease;
        &:hover {
          background-color: transparent;
          color: $primary;
        }
      }
      &:last-child {
        .wp-block-button__link {
          background-color: $secondary;
          border-color: $secondary;
          &:hover {
            background-color: transparent;
            color: $secondary;
          }
        }
      }
    }
  }
}

/****************************
Sidebar Section
****************************/

.sidebar {
  margin: 1em 0;
}

@include breakpoint("phablet") {
  /*********************
    LAYOUT & GRID STYLES
   *********************/
  .wrap {
    width: 760px;
  }

  .large-wrapper {
    width: 85%;
  }
  //   Sidebars / widgets
  .widget {
    padding: 0 10px;
    margin: 2.2em 0;
    ul {
      li {
        margin-bottom: 0.75em;

        /* deep nesting */
        ul {
          margin-top: 0.75em;
          padding-left: 1em;
        }
      }
    }
  }
  .sidebar {
    margin: 0;
  }
}

@include breakpoint("tablet") {
  /*********************
LAYOUT & GRID STYLES
*********************/
  .wrap {
    width: 990px;
  }

  .large-wrapper {
    width: 80%;
  }
}

@include breakpoint("desktop") {
  /*********************
LAYOUT & GRID STYLES
*********************/

  .wrap {
    width: 1140px;
  }
  .large-wrapper {
    width: 75%;
  }
}
